.email-p , .password-p{
    color:  #1a4ea1;
  }

  p{
    color: #1a4ea1;
  }
  
  .my-icon{
    color: #807e7e; 
  }

 

.login-main
{
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color:rgba(239, 242, 245, 0.932);
}

.btn{
  color: white;
  background-color: #58B7F4;
  margin-left: 6vw;
}

// button:disabled,
// button[disabled]{
//   color: white;
//   border: white;
// }