.email-p , .password-p{
    color:  #1a4ea1;
  }

  p{
    color: #1a4ea1;
  }
  
  .my-icon{
    color: #807e7e; 
  }

  a{
    color:#5a5a5a;
  }

.login-main
{
    height: 100vh;
    align-items: center;
    justify-content: center;
}

button{
  color: white;
  border: white;
  margin-left: 6vw;
}

button:disabled,
button[disabled]{
  color: white;
  border: white;
}