<div>
  <mat-toolbar class="example-header" [class.mat-elevation-z2]="true">
    <div class="container-fluid text-center">
      Upload Excel File</div>
      <span class="example-spacer"></span>
      <span>Logout</span>
    <button mat-icon-button class="example-icon">
      <mat-icon routerLink="/login">logout</mat-icon>
    </button>
  </mat-toolbar>
<div class="container-fluid homes d-flex">
    <div class="main">
      <div ><h3 class="text-center">Select the file and click on the upload button to upload an excel file</h3></div>
      <input class="btn1" type="file" name="files[]" multiple id="jsonFile" accept=".xlsx" />
      <div>
      <button class="btn" mat-raised-button color="primary">Upload</button>
      </div>
    </div>
</div>
</div>

